<%- include('./layouts/main') %>

<div class="container">
  <h2>Messages</h2>

  <div class="card dark-card">
    <div class="card-body">
      <ul class="list-group dark-list">
        <li class="list-group-item dark-item">
          <div class="message">
            <div class="message-avatar">
              <img src="/images/profiles/ProfilePicture.png" alt="Avatar" class="post-profile-picture">
            </div>
            <div class="message-details">
              <h5 class="message-sender">John Doe</h5>
              <p class="message-preview">Hey, how's it going?</p>
              <p class="message-time">1 hour ago</p>
            </div>
          </div>
        </li>
        <li class="list-group-item dark-item">
          <div class="message">
            <div class="message-avatar">
              <img src="/images/profiles/ProfilePicture.png" alt="Avatar" class="post-profile-picture">
            </div>
            <div class="message-details">
              <h5 class="message-sender">Jane Smith</h5>
              <p class="message-preview">Did you see the latest news?</p>
              <p class="message-time">2 hours ago</p>
            </div>
          </div>
        </li>
        <li class="list-group-item dark-item">
          <div class="message">
            <div class="message-avatar">
              <img src="/images/profiles/ProfilePicture.png" alt="Avatar" class="post-profile-picture">
            </div>
            <div class="message-details">
              <h5 class="message-sender">David Brown</h5>
              <p class="message-preview">Let's meet up tomorrow.</p>
              <p class="message-time">3 days ago</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>